

okdiario.com es un dominio en Internet titularidad de DOS MIL PALABRAS S.L, con CIF B87277455, con domicilio en C/Anabel Segura 11, 2ºA, Edificio A 28108 Alcobendas (Madrid) e Inscrita en el REGISTRO MERCANTIL de Madrid Tomo 33.478, Folio 1, Sección 8, Hoja M-602636, Inscripción 1, adelante la EMPRESA.

<h1>Legislación</h1>

Con carácter general las relaciones entre la EMPRESA con los Usuarios de los servicios presentes en este sitio web se encuentran sometidas a la legislación y jurisdicción españolas.

<h1>Uso y acceso de usuarios</h1>

El Usuario queda informado y acepta que el acceso a la presente web no supone, en modo alguno, el inicio de una relación comercial con la EMPRESA.

El usuario se compromete a utilizar la página web de conformidad con la ley, el presente Aviso Legal y las exigencias de la buena fe, empleando la diligencia adecuada a la naturaleza del servicio del que disfruta, sin incurrir en actividades que puedan ser consideradas ilícitas o ilegales, que infrinjan los derechos de la EMPRESA o de terceros, o que puedan dañar, inutilizar, sobrecargar o deteriorar el servicio o impedir la normal utilización del mismo. En concreto y con carácter meramente enunciativo, el usuario deberá abstenerse de: * Realizar cualquier conducta que implique la violación de los derechos de terceros (derecho a la intimidad y a la propia imagen, derechos de propiedad intelectual e industrial, etc.). * Reproducir o copiar para uso privado los contenidos que merezcan la consideración de software o Bases de Datos de conformidad con la legislación vigente, así como comunicarlos públicamente o ponerlos a disposición de terceros. * Introducir virus informáticos, archivos defectuosos, o cualquier otro software o programa informático que pueda provocar daños o alteraciones no autorizadas de los contenidos o sistemas accesibles a través de la página web. * Destruir, alterar, inutilizar o dañar los datos, informaciones, programas o documentos electrónicos de la EMPRESA o de terceros.

Para las publicaciones utilizamos una licencia Creative Commons que permite el uso de sus contenidos con fines no comerciales, exigiendo sólo la atribución al autor. Esto significa que todos nuestros contenidos, salvo algunas fotos y vídeos, pueden ser usados libremente. Cualquiera puede copiarlos, reproducirlos, distribuirlos y modificarlos, las únicas condiciones que se imponen son:

    Que sea con un fin no comercial. Se considera uso comercial su publicación en cualquier página que muestre publicidad o que sirva de soporte a otra actividad como la venta de bienes y servicios.
    Que se mantenga la atribución original a su autor mediante un enlace directo (sin “nofollow”) a la página individual del blog donde se publicó dicho contenido originalmente. Si se trata de un medio impreso basta con la mención del nombre del blog y la url general del mismo (aunque si se puede publicar la url de la noticia se agradece).

Una parte de lo que hacemos es recoger los bits y bytes de las noticias desperdigadas por Internet sobre las temáticas que cubrimos para hacer una modesta selección. Por eso creemos de justicia devolver a Internet tanto como hemos tomado de ella para lo cual usamos una licencia Creative Commons.

Una salvedad, algunas de las fotografías y vídeos que usamos no nos pertenecen, así que no tenemos la potestad para aplicarles la licencia Creative Commons.

    Para consulta las condiciones de la licencia podéis visitar licencia Creative Commons.
    Para consultar el texto legal podéis ir a Legal Code para Licencia CC.

<h1>Propiedad Intelectual e Industrial</h1>

La información que aparece en esta página web es la vigente en la fecha de su última actualización. La EMPRESA se reserva el derecho a actualizar, modificar o eliminar unilateralmente y sin previo aviso dicha información. Todos los contenidos que se muestran en la página (textos, gráficos, fotografías, logos, diseños, códigos fuente, contenidos audiovisuales o sonoros, etc.) están sujetos a derechos de propiedad intelectual y/o industrial de los que es titular la EMPRESA o terceros que han autorizado su inclusión en la página. Cualquier explotación de todo o parte del contenido de la página, efectuado de cualquier forma o por cualquier medio, electrónico, mecánico u otro, están estrictamente prohibidos, a excepción de lo establecido para las publicaciones. La infracción de estos derechos puede dar lugar a la iniciación de procedimientos judiciales, civiles o penales. No se podrá establecer ningún vínculo a esta página web sin el previo y expreso consentimiento de la EMPRESA.

<h1>Responsabilidad de la empresa</h1>

La EMPRESA no será responsable de los posibles daños o perjuicios que se pudieran derivar de interferencias omisiones, interrupciones, virus informáticos, averías telefónicas o desconexiones en el funcionamiento operativo de este sistema electrónico, motivadas por causas ajenas a la empresa, de retrasos o bloqueos en el uso del presente sistema electrónico causados por deficiencias o sobrecargas de líneas telefónicas, sobrecargas en el sistema de Internet o en otros sistemas electrónicos. La EMPRESA no garantiza la veracidad ni se responsabiliza de las consecuencias que pudieran derivarse de los errores en los contenidos proporcionados por terceros que pudieran aparecer en esta página web.

La EMPRESA no asume responsabilidad alguna por la información contenida en páginas web de terceros a las que se pueda acceder por “links” o enlaces desde cualquier página web propiedad de la EMPRESA. La presencia de “links” o enlaces en las páginas web de la EMPRESA tiene finalidad meramente informativa y en ningún caso supone sugerencia, invitación o recomendación sobre los mismos. Por ello, tanto el presente Aviso como la Política de Privacidad solo son de aplicación a la página web de la EMPRESA y no se garantiza en los accesos a través de enlaces con este sitio, ni a los enlaces desde este sitio con otras webs.

<h1>Legislación aplicable</h1>

El presente Aviso Legal se rige en todos y cada uno de sus extremos por la legislación Española.


