<div class="bloque_cabecera">
	<h1 class="titulo_cabecera">
		<img src="/images/mundo_reves.png" width="40" height="45" alt="">&nbsp;Desde otra lógica&nbsp;<img src="/images/mundo_reves.png" width="40" height="45" alt="">
	</h1>
</div>
