<nav class="navbar navbar-expand-lg navbar-light bg-light">

	<a class="navbar-brand" href="{{ path('raiz') }}">
		<img src="/images/mundo_reves.png" width="20" height="20" alt="">&nbsp;Desde otra lógica
	</a>
	
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    	<span class="navbar-toggler-icon"></span>
  	</button>

  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
    	<ul class="navbar-nav mr-auto">
			{% for categoria in categorias %}
				<li><a href="{{ path('categoria_lista', {
						'desc_categoria': categoria.descripcion
					}) }}"  class="nav-link">{{categoria.descripcion}}</a></li>
			{% endfor %}    		
		</ul>
	</div>
</nav>
<br>