<!--Footer-->
<footer class="page-footer font-small">

    <!--Footer Links-->
    <div class="container ">
        <div class="row">
            <div class="col-12 text-center">
                <a href="{{ path('aviso_legal') }}" rel="nofollow">Aviso legal</a>&nbsp;-&nbsp;
                <a href="{{ path('politica_cookies') }}" rel="nofollow">Política de cookies</a>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                desdeotralogica@gmail.com
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                © 2018 Copyright: www.elnoticiario.es
            </div>
        </div>
    </div>
    <!--/.Footer Links-->
    
</footer>

