<!--Footer-->
<footer class="page-footer font-small">

    <!--Footer Links-->
    <div class="container ">
        <div class="row">
            <div class="col-6">
                <a href="{{ path('aviso_legal') }}">Aviso legal</a>
            </div>
            <div class="col-6 text-right">
                elnoticiario@gmail.com
            </div>
        </div>
    </div>
    <!--/.Footer Links-->
    <hr>
    <div class="pie py-3 text-center">
        © 2018 Copyright: www.elnoticiario.es
    </div>

</footer>

